.admin-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.admin-form .ant-form-item {
  margin-bottom: 15px;
}

.admin-form .ant-btn-primary {
  width: 100%;
}

.admin-form .ant-upload {
  width: 100%;
}
